@media (max-width: 768px) {
    /* CSS rules for screens smaller than 768px */
}
 .navbar-brand {
           
            font-size: 1.5rem; /* Adjust as needed */
            padding: 0.5rem 1rem; /* Adjust padding */
            white-space: normal; /* Allow the text to wrap */
            text-align: center; /* Center align the text */
           
        }
body, html {
            padding: 0;
            margin: 0;
        }
